 /* Reset some default styles for better consistency */
 body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:#ffd90026;
    color: #333;
    text-align: center;
}

.header {
    background-color: #333;
    color: hsl(141, 75%, 39%);
    padding: 20px;
}

.header h1 {
    font-size: 36px;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: hwb(57 67% 12%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.content {
    padding: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: hsl(303, 70%, 64%);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6bde;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff4f4f;
}

/* Additional styling for headings and paragraphs */
h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}